<div style="display: flex; text-align: center; justify-content: center">
  <h1>Objectives And Assumptions</h1>
</div>
<ul>
  <li>
    Basic application with angular material which fetch random distinct trials.
  </li>
  <li>Add Favorite in the list page</li>
  <li>On the favorites page, have a delete favorite.</li>
  <li>
    Toggle on the timer is set for 3000 ms instead of 5 seconds to see the
    developments early.
  </li>
  <li>
    While trying to fetching random stories, the assumption is find distinct 10
    date range for the first submit date for the range from 1997(API description
    days during this time the API became active) till today.
  </li>
</ul>
