
@defer {
  @if ((studiesListState$ | async)) {
    <mat-slide-toggle
      color="tertiary"
      checked="false"
      (change)="onToggleChange($event)"
    >
      &nbsp;Fetch new studies every {{ interval/1000 }} seconds.
    </mat-slide-toggle>
    @if ((studiesListState$ | async)?.data?.length) { 
      <div class="progress-bar-container">
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="(studiesListState$ | async)?.loading"
        ></mat-progress-bar> 
      </div>
      @for (study of (studiesListState$ | async)?.data; track study.ntcId) {
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex-full-width">
                <label class="width-quarter">
                  {{ study.ntcId }}
                </label>
                <div class="width-three-quarters">
                  <label>First Submit Date: {{ study.studyFirstSumbmitDate }}</label>
                </div>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="flex-full-width">
                <div class="width-thirty">
                  <label>Completion Date: {{ study.completionDate }}</label>
                </div>
                <div class="width-thirty">
                  <label>Start Date: {{ study.startDate }}</label>
                </div>
                <div class="width-thirty label flex-container">
                  <label>Status: &nbsp; </label>
                  <mat-chip-set aria-label="Overall Status">
                    <mat-chip color="warn">{{ study.overallStatus }}</mat-chip>
                  </mat-chip-set>
                </div>
                <div
                  class="centered-content width-ten"
                >
                  <button
                    mat-icon-button
                    color="accent"
                    [disabled]="study.favorite"
                    (click)="onAddToFavorite(study, $event)"
                  >
                    <mat-icon *ngIf="!study.favorite" color="primary"
                      >star_outline</mat-icon
                    >
                    <mat-icon *ngIf="study.favorite" color="primary">star</mat-icon>
                  </button>
                </div>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          {{ study.briefTitle }}
        </mat-expansion-panel>
      } @empty { Empty list of Trials } 
    } 
  }
} @placeholder {
  <div class="progress-bar-container">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="(studiesListState$ | async)?.loading"
    ></mat-progress-bar>
  </div>
 }
