@use '@angular/material' as mat;
@use "./light-theme";

html,
body {
  height: 100%;
  @include mat.core();
  @include mat.button-theme(light-theme.$theme);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
