<mat-sidenav-container class="sidenav-container">  
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex;">
      <div style="display: flex;width: 100%;">
        <div style="width: 45%;">
          <a mat-raised-button routerLink="studies" routerLinkActive="active-link">Trials List</a> &nbsp;
          <a mat-raised-button routerLink="favorites" routerLinkActive="active-link">Favorites</a>
        </div>
        <div style="width: 55%;">
          <a href="https://wordpress.mytomorrows.com" class="logo">
            <img src="logo.svg" alt="Logo" width="175" height="24" />
          </a>
        </div>
      </div>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
