<mat-sidenav-container class="sidenav-container">  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="flex-container">
        <div class="link-container">
          <a mat-raised-button routerLink="home" routerLinkActive="active-link">Home</a> &nbsp;
          <a mat-raised-button routerLink="studies" routerLinkActive="active-link">Trials List</a> &nbsp;
          <a mat-raised-button routerLink="favorites" routerLinkActive="active-link">Favorites</a>
        </div>
        <div class="logo-container">
          <a href="https://wordpress.mytomorrows.com" class="logo">
            <img src="logo.svg" alt="Logo" class="logo-img"  loading="lazy" />
          </a>
        </div>
      </div>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-component></ng-component>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
